pipeline/pl_to_count_files.json
{
	"name": "pl_to_count_files",
	"properties": {
		"activities": [
			{
				"name": "act_getmetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "act_set_variable_to_count_files",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "act_getmetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filecount",
					"value": {
						"value": "@string(length(activity('act_getmetadata').output.childItems))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"filecount": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-29T16:45:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}