pipeline/To-get-value-of-idnation in array variable.json
{
	"name": "To-get-value-of-idnation in array variable",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://datausa.io/api/data?drilldowns=Nation&measures=Population"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Web1').output.data",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ab",
								"value": {
									"value": "@item()['ID Nation']",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"ab": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-01T12:57:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}